//
// Pricing Estimate
// --------------------------------------------------


  #createContainer {
    position: relative;
  }

  #priceEstimateContainer {

    float: left;
    width: 100%;
    padding: 15px 20px 0 20px;

    #priceEstimate {
      background-color: #ffffff;
      padding: 5px 15px 15px;
      .border-radius(@border-radius-base);
    }

    .cost-value {
      font-size: 20px;
      margin-bottom: 3px;
      letter-spacing: 1;
    }
    .cost-interval {
      color: @gray-light;
      font-size: @font-size-base - 1;
    }
    .cost-interval + .cost-value {
      margin-top: @padding-base-vertical;

      @media (min-width: @screen-sm) {
        margin-top: @padding-base-vertical * 2;
      }
    }

    .disclaimer {
      font-size: @font-size-small;
      line-height: @line-height-computed - 2;
      margin-top: @padding-base-vertical * 2;
      color: @gray-light;
    }

    #priceBreakdown {

      margin-top: 20px;
      padding-left: 15px;

    }

    .line-item {
      margin-bottom: 20px;

      .line-item-cost {
        color: @gray-light;
      }
    }
  }

  #createFormContainer {

    float:left;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

    // align rules and buttons with grid col
    .form-group.form-submit {

      margin-left: 0;
      margin-right: 0;

      button[type="submit"] {
        margin-left: -10px;
      }
    }
  }

  @media (min-width: @screen-sm) {

    #priceEstimateContainer {
      .box-shadow(7px 0 7px -7px rgba(0, 0, 0, 0.2));

      width: 250px;

      &.stick {
        position: fixed;
        top: 0px;
        z-index: 100;

        & + #createFormContainer {
          margin-left: 250px;
        }
      }

      .cost-value {
        font-size: 30px;
        margin-bottom: 7px;
      }

    }

    #createFormContainer {
      width: 510px;
    }

  }

  @media (min-width: @screen-md) {

    #priceEstimateContainer {
      width: 300px;

      &.stick {
        & + #createFormContainer {
          margin-left: 300px;
        }
      }
    }
    #createFormContainer {
      width: 680px;
    }
  }

  @media (min-width: @screen-lg) {
    #createFormContainer {
      width: 880px;
    }
  }

  // hide cost break down on small screens
  @media (max-width: @screen-xs-max) {
    #priceBreakdown {
      display: none !important;
    }
  }
